// LOOK AND FEEL BRAND //

.tab-content {
    display: none;
  }
  
  .tab:target .tab-content, .tab:last-of-type .tab-content {
    display: block;
  }
  
  .tab:target ~ .tab:last-of-type .tab-content {
    display: none;
  }

  :root {
    --tabs-border-color: #ABCDEF;
    --tabs-border-size: 3px;
    --tabs-text-color: white;
    --tabs-dark-color: #2c5f93;
    --tabs-lite-color: #4c91d7;
    --tabs-width: 120px;
    --tabs-height: 40px;
  }
  
  /* aspecto b치sico */
  body {
    font-family: sans-serif;
    line-height: 1.2;
  }
  h2, p {
    margin: 0;
  } 
  a {
    color: inherit;
    text-decoration: none;
  } 

  a:hover{
    color: #ffdd78;
  }
  
  .tabs * {
    box-sizing: border-box;
  }

  .tab-container {
    position: relative;
    padding-top: var(--tabs-height); /* en esta zona colocaremos las pesta침as */
  } 
  #tab1>a { --tabs-position: 0; }
  #tab2>a { --tabs-position: 1; }
  #tab3>a { --tabs-position: 2; }
  #tab4>a { --tabs-position: 3; }
  #tab5>a { --tabs-position: 4; }
  #tab6>a { --tabs-position: 5; }
  #tab7>a { --tabs-position: 6; }
  #tab8>a { --tabs-position: 7; }
  #tab9>a { --tabs-position: 8; }
  .tab>a {
    text-align: center;
    position: absolute;
    width: calc(var(--tabs-width));
    height: calc(var(--tabs-height) + var(--tabs-border-size)); 
    top: 0;
    left: calc(var(--tabs-width) * var(--tabs-position)); /* posici칩n de cada pesta침a */
  }

  .tabs { 
    padding: 10px;
    color: var(--tabs-text-color);
  }
  .tab-content {
    background-color: var(--tabs-lite-color); 
    padding: 20px;
    border: var(--tabs-border-size) solid var(--tabs-border-color);
    border-radius: 0 0 10px 10px;
    position: relative;
    z-index: 100;
  }
  .tab>a {
    background-color: var(--tabs-dark-color); 
    padding: 10px;
    border: var(--tabs-border-size) solid var(--tabs-border-color);
    border-radius: 10px 10px 0 0;
    border-bottom: 0;
  }
  .tab:target>a, .tab:last-of-type>a {
    background-color: var(--tabs-lite-color); 
    z-index: 200;
  }
  .tab:target ~ .tab:last-of-type>a {
    background-color: var(--tabs-dark-color); 
    z-index: 0; 
  }
.setLogo4 {
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: row;
    justify-content: center;
}

.setLogo5 {
  display: grid;
  justify-items: center;
  padding-left: 15px;
}
.titleCenter {
  display: grid;
  justify-items: center;
}

.btn_theme {
  padding: 0px;
  border-radius: 100px;
  width: 220px;
  min-height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #2d5ec1;
  font-family: "Quicksand";
  font-size: 15px;
  border: none;
  color: white;
  font-weight: 600;
}

.btn_theme:hover{
  background-color: #2c5f93;
}

.preview-src{
  padding-bottom: 10%;
}
