@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

$color: #4273d4;
$color_hover:#1060ff;
$gris:rgb(133, 132, 132);

$font-style: "Quicksand", cursive;
$font-style2: "Quicksand", cursive;
$font-family2: "Quicksand", serif; ;
