@import "../../scss/base/variables";

.header {
  display: flex;
  flex-wrap: wrap;
  padding: 4px 8px 0px;
  width: 100%;
  height: 72px;
  left: 0px;
  top: 0px;
  background: rgba(255, 255, 255, 0.8);
  order: 0;
  align-self: stretch;
  margin: 4px 0px 0px;
  font-family: "Quicksand";
  justify-content: space-around;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

// LOGO //
.logo {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  color: $color;
  font-family: "Quicksand";
  font-weight: bold;
}

.logo_header {
  display: flex;
  height: 7vh;
}
.logo-head {
   width:153px;
   height:65px;
   margin-top: -13px;
}

//BOTON SUBSCRIPCION //
.btn_subsc {
  background: #ffc300;
  color: #000;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  padding: 0.75rem 1rem;
  font-size: 0.75rem;
  font-weight: 600;
  border-radius: 100px;
  outline: none;
  border: 1px solid #ffc300;
}
.btn_subsc:hover {
  color: black;
  background-color: #ffd71c;
  border: 1px solid #ffd71c;
  cursor: pointer;
}
//BOTONES SECCIONES Y BUSCAR //
.btn_secciones {
  border-color: #f2f2f2;
  color: #272727;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1rem;
  font-size: 0.75rem;
  font-weight: 700;
  border-radius: 100px;
  outline: none;
  border: 1px solid transparent;
  text-transform: uppercase;
}
.btn_secciones:hover {
  color: $color;
}
.btn_buscar {
  border-color: #f2f2f2;
  color: #272727;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1rem;
  font-size: 0.75rem;
  font-weight: 700;
  border-radius: 100px;
  outline: none;
  border: 1px solid transparent;
  text-transform: uppercase;
}
.btn_buscar:hover {
  color: $color;
}

// BOTON INGRESAR //
.btn_ingresar {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: transparent;
  transition: all 0.2s ease-in-out;
  padding: 0.75rem 1rem;
  color: $color;
  font-size: 0.75rem;
  font-weight: 700;
  border-radius: 100px;
  outline: none;
  border: 1px solid #0250c9;
  text-transform: uppercase;
}
.btn_ingresar:hover {
  color: #e4e3e3;
  background-color: $color;
  cursor: pointer;
}
//SUB MENU //

.sub_menu {
  background: rgba(255, 255, 255, 0.8);
  padding: 1px;
  margin: 0;
  text-align: center;
  border: 0;
  font: inherit;
  font-size: 100%;
  box-sizing: border-box;
  border: 1px solid rgb(192, 192, 192);
}

.sub_menu{
  background-image: linear-gradient(120deg, #4da8f3 0%, #2031C9 100%);
}

.sub_menu p {
  font-family: 'Quicksand', sans-serif;;
  font-style: normal;
  margin-left: 1em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color:white;
  font-weight: 700;
  font-size: 165%;
  justify-content: center;
}

.menu {
  font-size: 20px;
}
.lupa {
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .btn_subsc {
    color: $color;
    background-color: transparent;
    border: none;
  }
  .btn_ingresar {
    visibility: hidden;
  }

  .btn_secciones {
    visibility: hidden;
  }
  .menu {
    visibility: visible;
  }
  .btn_buscar {
    visibility: hidden;
  }
  .lupa {
    visibility: visible;
  }
  .sub_menu li a {
    visibility: hidden;
  }
}

// MENU LATERAL //

.sidepanel {
  height: auto;
  width: 0;
  position: fixed;
  z-index: 4;
  top: 17px;
  left: 7px;
  background-color: #f8f9fa;
  overflow-x: hidden;
  padding-top: 18px;
  transition: 0.5s;
  box-shadow: 3px 3px 16px black;
  border-radius: 10px;

  .logo_menu {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    color: $color;
    font-family: "Quicksand";
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
  }
}

/* LINKS DEL MENU */
.sidepanel a {
  padding: 5px 5px 5px 3px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: $color;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  border-color: #f2f2f2;
  color: #272727;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1rem;
  font-size: 0.75rem;
  font-weight: 700;
  border-radius: 100px;
  outline: none;
  border: 1px solid transparent;
  text-transform: uppercase;
}

.openbtn:hover {
  color: $color;
}

@media (min-width: 769px) {
  .wrap-dropdown .com-dropdown {
    width: 280px;
    max-height: 100vh;
    background: #fff;
    border: none;
  }
}
